@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Quicksand&display=swap");

.playerDiv {
  font-family: "Orbitron", sans-serif;
  display: flex;
  font-size: 25px;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 60%;
  margin: 0 auto;
  padding: 2%;
  background: #efefe0;
  border-radius: 12px;
  filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.25));
  margin-top: 2vh;
}
.textDiv {
  text-align: start;
}
.img {
  height: 50%;
  max-width: 50%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  left: 100px;
}
.requirements {
  list-style-type: none;
}
.players {
  list-style: none;
}
.image {
  display: flex;
  flex-direction: column;
}
.backButton {
  margin-top: 10px;
  width: 40%;
  background: #b1c9ac;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}
.sendRequestButton {
  margin-top: 10px;
  width: 60%;
  height: 3vh;
  margin-left: 2%;
  background-color: #a8f395;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}
.upper {
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  align-self: flex-end;
  width: 50%;
  margin-top: 1%;
}
