@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Quicksand&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Orbitron", sans-serif;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 60vw;
  background-color: #efefe0;
  padding: 1.5%;
  font-size: 26px;
  border-radius: 12px;
  filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.25));
  transition: ease-in-out 600ms;
}
.player:hover {
  transform: scale(1.05);
}
h3 {
  font-size: 40px;
  margin-top: 1px;
}

.playerimg {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  z-index: inherit;
  width: 250px;
  height: 250px;
  margin-left: 20%;
}
main {
  margin: 0 auto;
}
.text {
  width: 50%;
  text-align: start;
  color: #42511b;
}
.description {
  width: 75%;
}
.title {
  background: #fac81d;
  border-radius: 12px;
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  font-size: 55px;
  line-height: 90px;
  filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.25));
}
