.center {
  display: flex;
  justify-content: center;
}
.loginHolder {
  margin-top: 200px;
  width: 35%;
  height: 350px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoImg {
  width: 250px;
  height: 250px;
}
.usernameInput {
  padding: 10px;
  width: 65%;
  height: 60px;
  font-size: 30px;
  background: #efefe0;
  border: 0;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: auto;

  margin-bottom: 5%;
}
.passwordInput {
  padding: 10px;
  width: 65%;
  height: 60px;
  font-size: 30px;
  margin-bottom: 10px;
  background: #efefe0;
  border-radius: 12px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: auto;
  margin-bottom: 5%;
}
.loginButton {
  width: 60%;
  height: 53.47px;
  font-size: 36px;
  border: 0;
  padding: 3px;
  background: #fac81d;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}
.text {
  color: gray;
  text-decoration: none;
}

.error {
  color: #e5002a;
}

.playerOn,
.teamOn {
  width: 80%;
  font-size: 24px;
  border: 0;
  padding: 3px;
  background: #fac81d;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  cursor: pointer;
  margin: 5%;
  opacity: 0.6;
  transition: all 0.25s ease-in-out;
}
.teamOff,
.playerOff {
  width: 60%;
  font-size: 24px;
  border: 0;
  padding: 3px;
  background: #fac81d;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  cursor: pointer;
  margin: 5%;
  transition: all 0.25s ease-in-out;
  opacity: 1;
}
